html{
  background-color: black;
}

.head1{
  font-family: verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.head2{
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}

.center{
  background-color: black;
  text-align: center;
}

.head3{
  text-align: center;
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.division{
  font-family: verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}
